<link rel="stylesheet" href="{{ url_for('static', filename='css/sample.css') }}">
{% extends 'sample.html' %}

{% block header %}
<img >
<table>
    <tr>
        <th><a href="/"><img src="../images/alice_logo.png"></a></th>
        <th><a>О Нас</a></th>
        <th><a>Направления</a></th>
        <th><a>Тренеры</a></th>
        <th><a>Приложение</a></th>
        <th><a>Вопросы</a></th>
        <th><a>Расписание</a></th>
        <th><a>Цены</a></th>
        <th>
            <ul>
                <address><a href="https://yandex.ru/maps/org/fitnes_studiya_alice/73177719660/?ll=20.473009%2C54.729741&z=17" target="_blank">ул. Красная 63А, г. Калининград</a></address>
                <address><a href="https://yandex.ru/maps/org/fitnes_studiya_alice/73177719660/?ll=20.473009%2C54.729741&z=17" target="_blank">+7(911)865 39 39</a></address>
            </ul>
        </th>
    </tr>
</table>
{% endblock %}

{% block title %}
ALICE
{% endblock %}

{% block body %}
<div class="container">
    <p>Фитнес студия</p>
    <h1>ALICE</h1>
    <p>Пробное занятие бесплатно</p>
    <a href="/enroll">Записаться</a>
    <div image></div>
</div>
{% endblock %}